/* Main CSS file*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 110%;
  margin:0;
  letter-spacing:-0.5px;
  color:#333;
}
section#header {
	margin:10px 0 24px 0;
}

div#logo {}
div#logo span {display:block;}
div#logo span.mainlogo {font-size:240%; font-weight:700; letter-spacing:-3px; color:#000;} 
div#logo span.mainlogo a {color:#000; text-decoration:none;}
div#logo span.description {color:#999; font-size:60%; margin:8px 0;}

.content_wrapper { width:650px; padding:15px; line-height:25px; margin:0 auto;}
header, footer, section, article {
	display: block;
}
#content {
}
section.content ul {
	margin:0 0 0 30px;
}
#by {
	font-style: italic;
  margin-right: 5px;
	font-size: 28px;
}
#caption {
	position: absolute;
	font-size: 24px;
	margin: -135px 0 0 70px;
}
#path {
	color: #b53131;
}
.post_detail .date {
  font-size:70%;
  font-weight:300;
  color:#666;
  
}
.post_detail h1 {
	margin: 0;
	padding: 0px 0 0 0;

}
article.post_listing section.summary {
	margin:0 0 0 50px;
}

.post_listing .date {
	float: left;
	width: 29px;
	height: 32px;
	margin: 0;
	margin-top: 3px;
	margin-right: 20px;
	padding-top: 2px;
	text-transform: uppercase;
	text-align: center;
	font-size: 80%;
	font-weight: bold;
	color: #999999;
}

.post_listing .date b {
	margin: 0;
	padding: 0;
	display: block;
	margin-top: -5px;
	font-size: 90%;
	color: #5C5C5C;
}

a {
  color: #b83000;
}
h1 a {
  color: black;
  text-decoration: none;

}
a:hover {
  text-decoration: underline;
}
body > header > h1 {
	border-left: 30px solid black;
	padding-left: 30px;
  margin: 100px 0 15px 0;
  font-weight: normal;
}
.post header {
	margin-bottom: 10px;
}
.post .body p:first-child {
	margin-top: 0;
}
.post .body p:last-child {
	margin-bottom: 0;
}
.post {
	margin-bottom: 30px;
}
.post:last-child {
  margin-bottom: 10px;
}
.post p {
  margin: 10px 0;
  font-size:80%;
}
.post .more {
  margin-top: -10px;
  margin-right: 30px;
  font-style: italic;
  text-align: right;
}
.more a {
  text-decoration: none;
}
.more a:hover { text-decoration: underline }
body > header {
	display: block;
	padding-top: 30px;
	line-height: 180px;
	margin-bottom: 20px;
}

h1 {font-size:115%}
h3 {font-size: 100%}

h1, h2, h3, h4 {
 
  margin: 10px 0;
  font-weight: 800;
  letter-spacing:-1px;
  color:#000;
}
ul, li {
  font-size:85%;
}
code {
  font-family: 'Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', Courier, mono;
}
pre {
  padding: 20px;
}
blockquote {
  font-style: italic;
}

body > footer {
  text-align: left;
  margin-left: 10px;
	font-style: italic;
  font-size: 18px;
  color: #888;
}
