<!DOCTYPE html>
<html>
  <head>
	<title>
		<% if @path == 'index' %>
		    Sean's Sphere
		<% elsif @path.split('/').compact.length == 4 %>
		    <%= title %> - Sean's Sphere
		<% else %>
		    <%= @path.capitalize.gsub(/[-]/, ' ') %> - Sean's Sphere
		<% end %>
	</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<meta name="description" content="<%= @context[:description] || 'Rumbling on latest web technology, start-ups and cutting edge stuffs' %>" />
	<meta name="keywords" content="<%= @context[:tags] || 'web development, start-up, django, python, ruby on rails' %>" />
	<link rel="stylesheet" type="text/css" href="https://seansphere.s3.amazonaws.com/css/bootstrap.css">
	<link rel="alternate" type="application/rss+xml" title="ssphere" href="http://feeds.feedburner.com/ssphere" />
    
  </head>
  <body>


    <div class="container wrapper">

		<div class="row">
      		<%= yield %> 
		</div>
    </div>
    <footer>
      			
    </footer>
  </body>
  <script type="text/javascript" src="http://assets.seanlin.me/js/site.js"></script>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12188417-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>

