<!DOCTYPE html>
  <head>
	<title>
		<% if @path == 'index' %>
		    Sean's Sphere
		<% elsif @path.split('/').compact.length == 4 %>
		    <%= title %> - Sean's Sphere
		<% else %>
		    <%= @path.capitalize.gsub(/[-]/, ' ') %> - Sean's Sphere
		<% end %>
	</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"> 
	<meta http-equiv="content-language" content="en">
	<meta name="description" content="<%= @context[:description] || 'Rumbling on latest web technology, start-ups and cutting edge stuffs' %>">
	<meta name="keywords" content="<%= @context[:tags] || 'web development, start-up, django, python, ruby on rails' %>">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="alternate" type="application/atom+xml" title="ssphere" href="http://feeds.feedburner.com/ssphere" />
  
  </head>
  <body>


    <div class="container-fluid wrapper">

		<div class="row">
      		<%= yield %> 
		</div>
    </div>

    <footer>

    </footer>
  <script type="text/javascript">
    var disqus_shortname = 'seansphere'; 

    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  </script>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12188417-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script type="text/javascript" src="/js/hyphenator.js"></script>
  <script type="text/javascript" src="/js/site.js"></script>
</html>

